/** {
    border: 2px solid red;
}*/

.title-link {
    color: white;
    display: block;
}

body {
    color: black;
    background-color: white ;
}

.picture,
.title,
.card {
    text-align: center;
}

.card {
    width: 30%;
    margin: 10px auto;
    padding: 10px;
    background-color: blue;
    border-radius: 10px;
}